target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

LOG_FILE_IS_UNDEFINED

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

log/
LOG_PATH_IS_UNDEFINED/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### java ###
*/target
.DS_Store
dist/
logs/
*.log
logger.error
.arcconfig
.classpath
.project

### excel ##
.xlsx